body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
    padding:10px;
    border: thick double black;
    border-radius:50px ;
    background-color:PowderBlue;
}
h2{
    text-align: center;
    font-size:40px;
    font-family: cursive;
    border: thick double black;
    border-radius:50px ;
    background-color:PowderBlue;
}
img:hover{
    opacity:1;
    border:4px solid black;
    padding:6px;
    transition:1s ;
}
img{
    opacity:0.5;
}

p{
    font-size:25px;
    font-family: cursive;
}

nav {
    background-color:PowderBlue;
    color:black;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    padding: 10px 50px 10px 95px;
    display: flex;
    justify-content: space-between;
    margin-bottom:10px ;
}
footer {
    background-color:PowderBlue;
}
